.AnswerItem {
  padding: 5px 10px;
  margin-bottom: 5px;
  list-style-type: none;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color .3s ease-in-out;
}

.AnswerItem:hover {
  background-color: rgb(255, 255, 255, .2);
  transition: background-color .3s ease-in-out;
}

.AnswerItem.success {
  background-color: lightgreen;
}

.AnswerItem.error {
  background-color: tomato;
}